@font-face {
    font-family: 'RationalSemiBold';
    src: local('RationalSemiBold'), local('RationalSemiBold'),
        url('../font/RationalSemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'RationalMedium';
    src: local('RationalMedium'), local('RationalMedium'),
        url('../font/RationalMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'RationalLight';
    src: local('RationalLight'), local('RationalLight'),
        url('../font/RationalLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 


