name: Auto Create Pull Request

on:
  push:
    branches:
      - dev-webflow

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        base: master
        head: dev-webflow
        title: "Merge dev-webflow into master"
        body: "This PR is automatically created to merge changes from dev-webflow into master."